@model string

@if (Model != null)
{
    <div class="alert alert-success success-message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        @Model
    </div>
}