@using ExpenseManager.Presentation
@model ExpenseManager.Presentation.Models.Expense.CreateViewModel

@section title
{
    Create new expense
}

<div class="col-md-9 content-holder">
    <h2>New expense</h2>
    @if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <form asp-action="Store">
        <div class="form-horizontal">
            @Html.Partial("_BaseExpenseInputs", Model)
            <div class="form-group">
                <div class="col-md-offset-4 col-md-6">
                    <input type="submit" value="Create" class="btn" />
                </div>
            </div>
        </div>
    </form>
    

    <div>
        <a asp-action="Index">@ExpenseManagerResource.BackToAccountStatement</a>
    </div>
</div>


