@using ExpenseManager.Presentation
@section title
{
    Create new expense
}

<div class="col-md-9 content-holder">
    <h2>New expense</h2>
    <span>@ExpenseManagerResource.CategoryDoesntExist</span>
</div>
