@{
    Layout = "_layout";
}

@section title
{
    Achievements
}

<div class="col-sm-9 content-holder">
    <h1>Achievements</h1>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
    <div class="achievement-zoom">
        <img src="~/images/badge.png" />
        <span>Some achievement</span>
    </div>
</div>