@{
    Layout = "_layout";
}

@section title
{
    Plans
}

<div class="col-sm-9 content-holder">
    <h1>Plans</h1>
    <a href="#">Add new plan for current month</a>
    <br/>
    <h2>October 2016</h2>
    <table class="table">
        <tr>
            <td>Save something</td>
            <td class="neutral">In progress</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="positive">Fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="neutral">In progress</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="neutral">In progress</td>
        </tr>
    </table>
    
    <h2>September 2016</h2>
    <table class="table">
        <tr>
            <td>Save something</td>
            <td class="positive">Fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="negative">Not fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="negative">Not fullfiled</td>
        </tr>
    </table>
    
    <h2>August 2016</h2>
    <table class="table">
        <tr>
            <td>Save something</td>
            <td class="positive">Fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="negative">Not fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="negative">Not fullfiled</td>
        </tr>
        <tr>
            <td>Save something else</td>
            <td class="positive">Fullfiled</td>
        </tr>
    </table>
</div>