@model ExpenseManager.Presentation.Models.AccountViewModels.RegisterViewModel

@{
    Layout = "_EmptyLayout";
}

@section title
{
    Register
}

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <h3>Create a new account.</h3>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-4 control-label"></label>
        <div class="col-md-6">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="CreateAccount" class="col-md-4 control-label">Create also new expense account</label>
        <div class="col-md-6">
            <div class="checkbox">
                <input asp-for="CreateAccount" checked="checked" style="margin-left:0px" />
            </div>
            <span asp-validation-for="CreateAccount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
            <button type="submit" class="btn">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
