@{
    Layout = "_layout";
}

@section title
{
    Categories
}

<div class="col-sm-9 content-holder">
    <h1>Categories</h1>    
    <table class="table">
        <tr>
            <td>Category</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td>Category</td>
            <td><a href="#">Update</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
        <tr>
            <td colspan="3"><a href="#">Add new</a></td>
        </tr>
    </table>
</div>