@using System.Threading.Tasks
@using ExpenseManager.Business.DataTransferObjects.Enums

@model ExpenseManager.Presentation.Models.AccountSettingsViewModel.AddAccessViewModel

@section title
{
    Account Settings
}


<div class="col-md-9 content-holder account-settings">
    <h1>Account settings</h1>
    <h2>Access to account</h2>
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Access type</th>
        </tr>
        @foreach (var userWithAccess in Model.UsersWithAccess)
        {
            <tr>
                <td>@userWithAccess.Email</td>
                @if (userWithAccess.AccessType == AccountAccessType.Full)
                {
                    <td>Full</td>
                }
                else
                {
                    <td>Only read</td>
                }
            </tr>
        }
    </table>
    
    @if (@Model.CurrentUser.HasFullRights)
    {
        <h3>Add new user to account</h3>
        <form asp-action="AddAccessToAccount">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AccessType" class="col-md-2 control-label">Access type</label>
                    <div class="col-md-10">
                        <select class="form-control" name="AccessType">
                            <option value="2">Full</option>
                            <option value="1">Only read</option>
                        </select>
                        <span asp-validation-for="AccessType" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn" />
                    </div>
                </div>
            </div>
        </form>
    }
    
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}