@model ExpenseManager.Presentation.Models.PermanentExpense.CreatePermanentExpenseViewModel

@section title
{
    Create new permanent expense
}

<div class="col-md-9 content-holder">
    <h2>New permanent expense</h2>
    @await Component.InvokeAsync("InlineErrorMessage")
    <form asp-action="Store">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.Partial("_BaseExpenseInputs", Model)
            <div class="form-group">
                <label asp-for="Periodicity" class="col-md-4 control-label">Periodicity</label>
                <div class="col-md-6">
                    <select class="form-control" asp-for="Periodicity" asp-items="Model.SelectPeriodicities"></select>
                    <span asp-validation-for="Periodicity" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PeriodicMultiplicity" class="col-md-4 control-label">Periodic multiplicity</label>
                <div class="col-md-6">
                    <input asp-for="PeriodicMultiplicity" class="form-control" value="1" />
                    <span asp-validation-for="PeriodicMultiplicity" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a href="@Url.Action("Index", "AccountSettings")">Back</a>
    </div>
</div>


