@model ExpenseManager.Presentation.Models.Error.IndexViewModel

@section title
{
    Error occured
}

<div class="col-sm-9 content-holder">
    <div class="alert alert-danger">
        @Model.Message
    </div>
</div>